@import url(../css/root.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
  
}
.hero-bg-img{
background-image: url(../images/png/hero-bg-img.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.gap-24{
    gap: 24px;
}
.h-81{
    height: 81px;
}
.nav-btn{
    padding: 14px 28px;
    border-radius: 100px;
    background: linear-gradient(97.23deg, #F2C922 -33.73%, #B8860B 100.34%);
    border: 1px solid transparent;
    transition: all 300ms linear;
}
.nav-btn:hover{
    background: var(--fc-black);
    border: 1px solid #B8860B ;
    color:#B8860B ;
    transition: all 300ms linear;
}
.gradient-text { 
    background: linear-gradient(145.14deg, #F9F9F7 32.81%, #656565 115.23%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.max-w-546{
    max-width: 546px;
}
.btnn{
    padding: 18px 52px;
    border-radius: 100px;
    background: linear-gradient(97.23deg, #F2C922 -33.73%, #B8860B 100.34%);
    border: 1px solid transparent;
}
.btnn:hover{
    background: var(--fc-black);
    border: 1px solid #B8860B ;
    color:#B8860B ;
    transition: all 300ms linear;
}
.pb-15{
    padding-bottom: 15px;
}
.pt-10{
    padding-top: 10px;
}
.pt-30{
    padding-top: 30px;
}

.permision_btn{
    padding: 8px 12px;
    background: var(--fc-darkgrey);
    border-radius: 100px;
    border: none;
}
 .permision_btn::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 100px;
    padding:  1px 1px 1px 1px;
    background: linear-gradient(132.67deg, rgba(22, 22, 22, 0) 50.24%, #B8860B 72.35%, rgba(22, 22, 22, 0) 94.45%);
    /* border: 1px solid; */
    border-image-source: linear-gradient(132.67deg, rgba(22, 22, 22, 0) 50.24%, #B8860B 72.35%, rgba(22, 22, 22, 0) 94.45%);
     -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: all 300ms linear;
} 
.bg-img{
    background-image: url(../images/png/bg-img.png);
    background-size: cover;
}
/* ============================================================================================== */
.max-w-1095{
    max-width: 1095px;
}
.pt-lg-140{
    padding-top: 140px;
}
.overflow-img{
    /* top: 60%; */
    left: 0;
    /* transform: translatey(-60%); */
}
.max-w-1208{
    max-width: 1208px;
}
/* -------------------------------------------------------------------------------------------------------- */
.bg-clr-black{
    background: var(--fc-black);
}
.svg-box{
    width: 92px;
    height: 92px;
    border-radius: 24px;
    background: var(--fc-svgclr);
    border: 1px solid #F9F9F714;
}
.max-w-340{
    max-width: 340px;
}
.max-w-270{
    max-width: 270px;
}
.pt-lg-48{
    padding-top: 48px;
}
.pt-lg-24{
    padding-top: 24px;
}
.border_right{
    border-right: 1px solid var(--fc-borderclr);
}
.pl-48{
    padding-left: 48px;
}
.mr-lg-48{
    margin-right: 48px;
}
.ml-lg-48{
    margin-left: 48px;
}
.max-w-496{
    max-width: 496px;
}
.gap-48{
    gap: 48px;
}
.experience-box{
    max-width: 1368px;
    width: 100%;
    /* height: 200px; */
    padding: 64px 71px 64px 84px;
    border-radius: 24px;
    background-image: url(../images/png/experience-bg-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mt-64{
    margin-top: 64px;
}
.max-w-795{
    max-width: 765px;
}
/* =========================================== hyperion features ================================================== */
.py_lg_140_165{
    padding-top: 140px;
    padding-bottom: 165px;
}
.pb-lg-84{
    padding-bottom: 84px;
}
.max-w-392{
    max-width: 392px;
}


@media (max-width:992px) {
    .overFlowHidden {
        overflow: hidden !important;
    }

    ul.menulist.show {
        right: 0;
    }

    .menuIcon.show>span {
        top: -8px !important;
        position: relative !important;
    }

    .menuIcon {
        width: 30px;
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 5;
        transition: all 300ms linear;
        /* top: 31px; */
        right: 12px;
        /* position: fixed; */
    }
    .menuIcon>span {
        width: 100%;
        height: 4px;
        background: var(--fc-offwhite);
        position: relative;
        z-index: 3;
        transition: all 300ms linear;
    }

    /* .menuIcon.show>span {
        top: -8px !important;
        position: relative !important;
    } */

    .menulist {
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: var(--fc-black);
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 3;
        justify-content: center;
        align-items: center;
    }

    .cross span:nth-child(1) {
        transform: rotate(47deg) translateY(0px);
        transition: all 300ms linear;
        position: relative;
        top: 11px;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 300ms;
    }

    .cross span:nth-child(3) {
        transform: rotate(130deg) translateY(0px);
        transition: all 300ms linear;
        position: relative;
        top: -4px;
    }
    .flex_wrap{
        flex-wrap: wrap;
    }
}
@media (min-width:576px) {
    
}
@media (min-width:768px) {
    .pb-md-30{
        padding-bottom: 30px;
    }
    .pt-md-20{
        padding-top: 20px;
    }
    .pt-md-50{
        padding-top: 50px;
    }
}
@media (min-width:992px) {
    .max-w-786{
        max-width: 786px;
    }
    .pb-lg-48{
        padding-bottom: 48px;
    }
    .pt-lg-30{
        padding-top: 30px;
    }
    .pt-lg-100{
        padding-top: 100px;
    }
}


